@import "/src/styles/variables";

.HomePage {
    display: flex;

    &__img {
        
        margin-top: 7rem;
        width: 100%;
        height: 20%;
        object-fit: fit;
        &--mt{
            margin-top: 0;
           
            @media (min-width: 700px) {
                
                display: flex;
                margin-left: 5%;
                  
                }
        }
    }

    &__headerText {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.2rem;
        width: 33.5rem;
        text-align: left;
        margin: auto;
        padding: 3.5rem;
        @media (min-width: 700px) {
            padding: 8rem;
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 2.5rem;
        }

    }

    &__cardIcons {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $blueBackground;
        padding: 3.2rem;
        
&--container{
    flex-direction: column;
    @media (min-width: 1440px) {
        
    display: flex;
    flex-direction: row;}
}
        &--text {
            display: flex;
            font-family: 'Sansita';
            font-weight: 700;
            font-size: 1.9rem;
            line-height: 2rem;
            color: $blue;
            justify-content: center;
            @media (min-width: 700px) {
                font-size: 3.5rem;
            }

        }
    }
    &__cardText{
        scroll-margin-top: 20rem;
        background-color: #012D78;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        

        &--text{
            font-family: 'Sansita';
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2rem;
    color: $blueBackground;
        }
    }

    &__solicitation{
        scroll-margin-top: 20rem;
        padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $blueBackground;
    height: fit-content;
        @media (min-width: 700px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 8rem;
            
        }
        
        &--text{
            margin-top: 3rem;
            margin-bottom: 2rem;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    &__solicitation1{
        padding-bottom: 2rem;
    }
    &__description{
        scroll-margin-top: 20rem;
        &--title{
            font-family: "Sansita";
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2rem;
    color: #012D78;
    text-align: center;
    display: flex;
    justify-content: center;
            @media (min-width: 700px) {
        text-align: center;
        font-size: 3.5rem;
            }
        }
        &--text{
            width: 33.5rem;
    height: 46.2rem;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 2.2rem;
    font-size: 1.7rem;
    text-align: left;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0rem;
   
            @media (min-width: 700px) {
                position: relative;
                width: 50%;
                height: fit-content;
                display: inline-block;
            }
        }
    }
    &__profile{
        display: flex;
         flex-direction: column;
        align-items: center;
        &Section{
            display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 700px) {
        margin-top: 21rem;
    position: relative;
    display: flex;
    width: 50%;
    }
   
        }
        @media (min-width: 700px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        }
        &--text{
           
            width: 33.5rem;
            height: 46.2rem;
            font-family: 'Poppins';
            font-weight: 400;
            line-height: 2.2rem;
            font-size: 1.7rem;
            text-align: left;
            padding: 2rem; 
            margin-bottom: 3.6rem;
            @media (min-width: 700px) {
                width: 40%;
                /* margin-left: 5%; */
                /* line-height: 2.5rem; */
                bottom: -111px;
                /* white-space: nowrap; */
                display: inline-block;
            }
        }
    }
    &__avatar{
        display: flex;
        align-items: center;
        border-radius: 50rem;
        perspective: 50rem;
        /* animation: appear 3s infinite; */
       &--name{
        display: flex;
        margin-left: 2rem;
        display: flex;
        @media (min-width: 700px) {
            position: relative;
            display: flex;
          align-content: center;
            
        }
        @media (min-width: 1024px) {
            position: relative;
           
        }
        
    
       }
        @media (min-width: 700px) {
        display: flex;
        
        margin-left: 7%;
        text-align: center;
       
        }
        @media (min-width: 1024px) {
            display: flex;
            
            margin-left: 5%;
            text-align: center;
            margin-top: -20rem;
           
            }
        @keyframes appear{
            from {
                opacity: 0;
              }
            
              to {
                opacity: 1;
              }
            }
            
        
    }


&__values{
    margin-top: 0.7rem;
    background-color: $blueBackground;
    padding-top: 0.19rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.6rem;
}

&__title{
    font-family: 'Sansita';
            font-weight: 700;
            font-size: 1.9rem;
            line-height: 2rem;
            color: $blue;
            text-align: left;
            padding: 2rem;
            margin-top: 5rem;
}

&__responsability{
   
    @media (min-width: 700px) {
        width: 100%;
        margin-bottom: 20rem;
    }
   &--title{
    font-family: 'Sansita';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2rem;
    color: $blue;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
    }
    &--subtitle{
        @media (min-width: 700px) {
            font-size: 2rem;
text-align: left;
margin-left: 5%;
width: 30%;
margin-bottom: 5rem;
             
            }
    
   }

   

        
    &--text{
        width: 90%;
            height: fit-content;
            font-family: 'Poppins';
            font-weight: 400;
            line-height: 2.2rem;
            font-size: 1.7rem;
            text-align: left;
            padding: 2rem;
            @media (min-width: 700px) {
                width: 50%;
                position: relative;
            margin-left: 47%;
        margin-top: -30rem;
    margin-bottom: 1rem;}
    }
}
}

.bolded{
    font-weight: 700;
    word-break: initial;
   display: inline;
    
   
}

