@import "/src/styles/variables";
.CardText{
    
    min-height: 21.7rem;
    align-items: center;
margin: auto;
@media (min-width: 700px) {
   display: flex;
   
}
    &__container{
        padding: 1.6rem;
        border-radius: 0.4rem;
        background-color: $background;
        position: relative;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 1px solid #C0C3CF;
        @media (min-width: 700px) {
            margin: 3rem;
            height: 30.4rem;
            width: 59rem;
         }
    }
   
    &__info{
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
      
        
    }
    &__title{
        font-family: "Poppins";
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2rem;
        text-align: left;
        color: $blue;
    }
        
        
   
    &__text{
        text-align: left;
        font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    position: relative;
    margin-bottom: 1.2rem;
    display: flex;
    
    }
       
}   