@import "/src/styles/variables";
.CardText{
    margin: auto;
    min-height: 21.7rem;
    align-items: center;
margin: auto;
@media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    max-width: 100%;
    justify-content: space-around;
align-items: stretch;
   
}
    &__container{
        padding: 1.6rem;
        border-radius: 0.4rem;
        background-color: #EFF0F4;
        position: relative;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 1px solid #C0C3CF;
        @media (min-width: 700px) {
            margin: 3rem;
            margin-top: 0;
            min-height: 32rem;
            width: 46rem;
            display: flex;
            align-items: flex-start;
            padding-top: 4rem;
           
         }
    }
   
    &__info{
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        @media (min-width: 700px) {
            margin: 0;
        }
        
    }
    &__title{
        font-family: "Poppins";
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2rem;
        text-align: left;
        color: #012D78;
        margin: auto auto 1rem auto;
        display: flex;
        
    }
        
        
   
    &__text{
        text-align: left;
        font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    position: relative;
    margin-bottom: 1.2rem;
    display: flex;
    
    }
       
}   

