:root {
  font-family: Poppins, Sansita, Inter, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #eff0f4;
  font-size: 62.5%; /* 1rem =10px; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
